@font-face
{
    font-family: "Bleach";
    src: url("FontBleach.ttf");
}


h1 {

    font-family: Bleach, sans-serif;
    font-size: 120px;
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 1px cornflowerblue;

}
h2
{
    font-size: 60px;
}
#Clorox
{
    position: fixed;
    top: 20px;
    right: 20px;


}
